* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}
/* primary:F8485E
sec:8c38ff
dark:2A0944
light:eee */
body {
	background-color: #eee;
}
.App {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
.calculator {
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
.display {
	padding: 16px;
	text-align: center;
	background-color:#2A0944;
	color: #eee;
	font-size: 24px;
	font-weight: 300;
}
.display span {
	font-size: 14px;
	color: #888;
}
button {
	appearance: none;
	border: none;
	outline: none;
	color: #fff;
	font-size: 20px;
	padding: 16px;
	cursor: pointer;
	transition: 0.4s;
}
button:hover{
  opacity: 0.9;
}
.operators{
  display: flex;
}
.operators button{
  flex: 1 1 0%;
  background-color:#F8485E ;
  color:#fff ;
}
.numbers{
  display: flex;
  flex-wrap: wrap;
}
.numbers button{
  flex: 1 1 33.3333%;
  max-width: 33.333%;
  background-color: #2A0944;
}
.numbers button .equal{
  background-color: #F8485E;
  color: #000;
}